img {
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
	width: 250px;
	height: 200px;
}

li:hover {
	border-color: red;
	font-style: italic;
	font-size: 1.5em;
}

.clicked {
	text-decoration: line-through;
}